// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'css-resets';
@import 'double-container';




// *** USER CONTENT ON NETFLIX PAGE STYLING ***

// * TOP SEARCH BAR SECTION *
//



.section-top {
  flex-grow: 1;
};

.search-bar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;

  // background: $c-lightgrey;
  line-height: 3rem;
}

.search-bar__title {
  color: $c-greylink;

}

.search-bar__button {
  margin-right: -1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: $c-primary;
  color: $c-white;
  // border-top-right-radius: rem;
  // transform: translateX(1rem);
}

// * MIDDLE LEFT MOVIE INFO SECTION *

// * MIDDLE RIGHT MOVIE INFO SECTION *

// * BOTTOM MOVIE INFO SECTION *
